<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>SK렌터카신규등록</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/common.css">
  <script type="javascript">
    function fn_main_Move() {
      var loginForm = document.form.loginForm;
      loginForm.action = "/login";
      loginForm.submit();
    }

  </script>
 </head>
 <body>
  <!-- Container -->
  <div id="container">
  	<!-- Wrapper -->
  	<div class="wrapper">
  		<!-- Contents -->
  		<div id="contents">

  			<form name="loginForm" action="/login" method="post">
  				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
  				<div class="mem_login">
  					<div class="login_box">
  						<div class="input_box">
  							<dl>
  								<dt>사용자 구분</dt>
  								<dd>
  									<input type="radio" name="login[corpCd]" value="sk"><label>SK 렌트카</label>
  									<input type="radio" name="login[corpCd]" value="oncar"><label>온카</label>
  								</dd>
  								<dt>아이디</dt>
  								<dd><input name="login[userId]" type="text" class="input" id="userId" /></dd>
  								<dt>비밀번호</dt>
  								<dd><input name="login[userPw]" type="password" class="input" id="userPwd" /></dd>
  							</dl>
  						</div>
  						<div>
  							<input type="image" src="/images/btn/btn_login.png" border="0" alt="로그인" onclick ="javascript:fn_main_Move(); return false;" />
  						</div>
  						<div class="chk_id">
  							<input type="checkbox" name="" id="idCheck" onclick="confirmSave(this);">
  							<label>아이디 저장</label>
  						</div>
  						<div class="p_box">
  							<p>* 처음 방문하시는 분은 온카 관리자를 통해 비밀번호를 발급 받으세요</p>
  						</div>
  					</div>
  				</div>
  			</form>

  		</div>
  		<!-- //Contents -->
  	</div>
  	<!-- //Wrapper -->
  </div>
  <!-- //Container -->
  <% include common/footer %>
</body>
</html>
