<div id="footer">
	<div class="wrapper">
		<div class="footer_bottom">
			<a href="#"><img src="/images/footer_logo.gif" alt="주식회사 온카"></a>
			<span class="address">
				<img src="/images/footer_address.gif" alt="">
				<img src="/images/footer_copyright.gif" alt="">
			</span>
		</div>
	</div>
</div>
